<div class="row justify-content-md-center">
    <form class="col col-sm-5" (ngSubmit)="submit()">
        <div class="mt-2">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control border-warning" [(ngModel)]="model.email">
            <app-error-list [errors]="validationErrors.Email"/>
        </div>
        <div class="mt-2">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control border-warning" [(ngModel)]="model.username">
            <app-error-list [errors]="validationErrors.Username"/>
        </div>
        <div class="mt-2">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control border-warning" [(ngModel)]="model.password">
            <app-error-list [errors]="validationErrors.Password"/>
        </div>
        <div class="mt-2">
            <label for="confirmpassword">Confirm password</label>
            <input type="password" name="confirmpassword" class="form-control border-warning" [(ngModel)]="confirmPassword">
            <app-error-list [errors]="confirmPasswordError"/>
        </div>
        <div class="mt-2">
            <label for="fname">First name</label>
            <input type="text" name="fname" class="form-control" [(ngModel)]="model.firstName">
            <app-error-list [errors]="validationErrors.FirstName"/>
        </div>
        <div class="mt-2">
            <label for="lname">Last name</label>
            <input type="text" name="lname" class="form-control" [(ngModel)]="model.lastName">
            <app-error-list [errors]="validationErrors.LastName"/>
        </div>
        <div class="mt-2">
            <label for="phonenum">Phone number</label>
            <input type="text" name="phonenum" class="form-control" [(ngModel)]="model.phoneNumber">
            <app-error-list [errors]="validationErrors.PhoneNumber"/>
        </div>
        <div class="mt-2">
            <label for="city">City</label>
            <input type="text" name="city" class="form-control" [(ngModel)]="model.city">
            <app-error-list [errors]="validationErrors.City"/>
        </div>
        <div class="mt-2">
            <label for="postalcode">Postal code</label>
            <input type="text" name="postalcode" class="form-control" [(ngModel)]="model.postalCode">
            <app-error-list [errors]="validationErrors.PostalCode"/>
        </div>
        <div class="mt-2">
            <label for="country">Country</label>
            <input type="text" name="country" class="form-control" [(ngModel)]="model.country">
            <app-error-list [errors]="validationErrors.Country"/>
        </div>
        <div class="mt-2">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-control" [(ngModel)]="model.address">
            <app-error-list [errors]="validationErrors.Address"/>
        </div>
        <div class="mt-2 form-check">
            <input type="radio" class="form-check-input" name="gender" [value]="gender.not_specified" [(ngModel)]="model.gender">
            <label for="gender">Not specified</label>
        </div>
        <div class="mt-2 form-check">
            <input type="radio" class="form-check-input" name="gender" [value]="gender.male" [(ngModel)]="model.gender">
            <label for="gender">Male</label>
        </div>
        <div class="mt-2 form-check">
            <input type="radio" class="form-check-input" name="gender" [value]="gender.female" [(ngModel)]="model.gender">
            <label for="gender">Female</label>
        </div>
        <button class="btn btn-primary mt-2">Register</button>
    </form>
</div>
