<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand text-light">Auction site</a>
        <div class="d-flex" *ngIf="!authorized">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link text-light">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/register" class="nav-link text-light">Register</a>
                </li>
            </ul>
        </div>
        <div class="d-flex" *ngIf="authorized">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/add-product" class="nav-link text-light">Add product</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/cart" class="nav-link text-light">Cart ({{cartCount}})</a>
                </li>
                <li>
                    <a routerLink="/orders" class="nav-link text-light">Orders</a>
                </li>
                <li>
                    <a routerLink="/lists" class="nav-link text-light">Lists</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/profile', user.userId]" class="nav-link text-light">{{ user.userName }} </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link text-light" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
