<div class="row justify-content-md-center">
    <div class="col-6 mt-2">
        <app-profile-list-item name="Created" [value]="order.created" />
        <app-profile-list-item name="Name" [value]="order.name" />
        <app-profile-list-item name="Phone Number" [value]="order.phoneNumber" />
        <app-profile-list-item name="Address" [value]="order.address" />
        <app-profile-list-item name="Postal Code" [value]="order.postalCode" />
        <app-profile-list-item name="City" [value]="order.city" />
        <app-profile-list-item name="Payment Id" [value]="order.paymentId" />
        <div>
            <app-order-item *ngFor="let item of order.items" [item]="item"/>
        </div>
    </div>
</div>