<div class="row align-items-start">
    <form class="col mt-2" (ngSubmit)="submit()">
        <h2>Product</h2>
        <div class="mt-2">
            <label for="name">Product name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="product.name">
            <app-error-list [errors]="validationErrors.Name"/>
        </div>
        <div class="mt-2">
            <label for="description">Product description</label>
            <textarea name="description" class="form-control" rows="5" [(ngModel)]="product.description"></textarea>
            <app-error-list [errors]="validationErrors.Description"/>
        </div>
        <div class="mt-2">
            <label for="price">Price</label>
            <input type="text" name="price" class="form-control" [(ngModel)]="product.price">
            <app-error-list [errors]="validationErrors.Price"/>
        </div>
        <div class="mt-2">
            <label for="price">Stock name</label>
            <input type="text" name="price" class="form-control" [(ngModel)]="product.stockName">
            <app-error-list [errors]="validationErrors.StockName"/>
        </div>
        <div class="mt-2">
            <label for="images">Images</label>
            <input type="file" name="images" class="form-control" multiple (change)="selectImages($event)">
        </div>
        <button class="btn btn-success mt-2 form-control">Add product</button>
    </form>
    <div class="col mt-2">
        <h2>Stocks</h2>
        <div class="mt-2">
            <label for="opt-value">Stock value</label>
            <input type="text" name="opt-value" class="form-control" [(ngModel)]="currentStock.value">
        </div>
        <div class="mt-2">
            <label for="pot-quantity">Quantity</label>
            <input type="number" name="opt-quantity" class="form-control" value="0" [(ngModel)]="currentStock.quantity">
        </div>
        <div class="mt-2">
            <button class="btn btn-success mt-2" (click)="addStock()">Add stock</button>
        </div>
        <div class="mt-2">
            <app-added-stock *ngFor="let stock of product.stocks" [stock]="stock"/>
        </div>
    </div>
</div>