<div class="row align-items-start">
    <form class="col mt-2" (ngSubmit)="submit()">
        <h2>Product</h2>
        <div class="mt-2">
            <label for="name">Product name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="product.name">
        </div>
        <div class="mt-2">
            <label for="description">Product description</label>
            <textarea name="description" class="form-control" rows="5" [(ngModel)]="product.description"></textarea>
        </div>
        <div class="mt-2">
            <label for="price">Price</label>
            <input type="text" name="price" class="form-control" [(ngModel)]="product.price">
        </div>
        <div class="mt-2">
            <label for="price">Option name</label>
            <input type="text" name="price" class="form-control" [(ngModel)]="product.optionName">
        </div>
        <button class="btn btn-success mt-2 form-control">Add product</button>
    </form>
    <div class="col mt-2">
        <h2>Product options</h2>
        <div class="mt-2">
            <label for="opt-value">Option value</label>
            <input type="text" name="opt-value" class="form-control" [(ngModel)]="currentOption.value">
        </div>
        <div class="mt-2">
            <label for="pot-quantity">Quantity</label>
            <input type="number" name="opt-quantity" class="form-control" value="0" [(ngModel)]="currentOption.quantity">
        </div>
        <div class="mt-2">
            <button class="btn btn-success mt-2" (click)="addOption()">Add option</button>
        </div>
        <div class="mt-2">
            <app-added-product-option *ngFor="let option of product.options" [option]="option"/>
        </div>
    </div>
</div>