<div class="row justify-content-md-center">
    <form class="col col-sm-5" (ngSubmit)="submit()">
        <div class="mt-2">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control border-warning" [(ngModel)]="user.userName">
        </div>
        <div class="mt-2">
            <label for="fname">First name</label>
            <input type="text" name="fname" class="form-control" [(ngModel)]="user.firstName">
        </div>
        <div class="mt-2">
            <label for="lname">Last name</label>
            <input type="text" name="lname" class="form-control" [(ngModel)]="user.lastName">
        </div>
        <div class="mt-2">
            <label for="phonenum">Phone number</label>
            <input type="text" name="phonenum" class="form-control" [(ngModel)]="user.phoneNumber">
        </div>
        <div class="mt-2">
            <label for="city">City</label>
            <input type="text" name="city" class="form-control" [(ngModel)]="user.city">
        </div>
        <div class="mt-2">
            <label for="postalcode">Postal code</label>
            <input type="text" name="postalcode" class="form-control" [(ngModel)]="user.postalCode">
        </div>
        <div class="mt-2">
            <label for="country">Country</label>
            <input type="text" name="country" class="form-control" [(ngModel)]="user.country">
        </div>
        <div class="mt-2">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-control" [(ngModel)]="user.address">
        </div>
        <div class="mt-2 form-check">
            <input type="radio" class="form-check-input" name="gender" [value]="gender.not_specified" [(ngModel)]="user.gender">
            <label for="gender">Not specified</label>
        </div>
        <div class="mt-2 form-check">
            <input type="radio" class="form-check-input" name="gender" [value]="gender.male" [(ngModel)]="user.gender">
            <label for="gender">Male</label>
        </div>
        <div class="mt-2 form-check">
            <input type="radio" class="form-check-input" name="gender" [value]="gender.female" [(ngModel)]="user.gender">
            <label for="gender">Female</label>
        </div>
        <button class="btn btn-warning mt-2">Update</button>
    </form>
</div>
